<section class="note">
  <div class="container">
    <div class="note__info">
      <h2 class="title title-h2 title-blue">Заметки</h2>
      <ul class="note__list">
        @@for (var i = 0; i < context.arr.length; i++) {
        <li class="note__item">
          <div class="note__caption">`+context.arr[i].caption+`</div>
          <div class="note__more">
            <div class="note__more-content">
              `+context.arr[i].content+`
            </div>
          </div>
        </li>
        }
      </ul>
    </div>
  </div>
</section>